@{
    ViewBag.Title = "Advertise";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="row row2">
    <div class="col-md-6">

        <div class="contact-form advertisement-page">
            <div class="contact-top-header">
                <h3>Advertisement With Us</h3>
            </div>
            <form action="#" method="post">

                <div class="row row2">
                    <div class="col-md-6">
                        <span><input type="text" name="Name" class="textbox" placeholder="Name"></span>
                    </div>
                    <div class="col-md-6">
                        <span><input type="text" name="Email" class="textbox" placeholder="Email"></span>
                    </div>
                </div>


                <div class="row row2">
                    <div class="col-md-6">
                        <span><input type="text" name="Contact No" class="textbox" placeholder="Contact No"></span>
                    </div>
                    <div class="col-md-6">
                        <span><input type="text" name="Organization" class="textbox" placeholder="Organization Name"></span>
                    </div>
                </div>

                <div>
                    <span><textarea name="txtMessage" id="txtMessage" placeholder="Message"></textarea></span>
                </div>
                <div style="text-align:right;">
                    <span><input type="submit" name="submit" id="submit" value="Send"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="socialmedia-block">
            <div class="contact-top-header">
                <h3>Get in Touch</h3>
            </div>
            <div class="social_media">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/EngineeringStudents.in" target="_blank" class="btn btn-block btn-social btn-lg btn-facebook">
                            <i class="fa fa-facebook"></i> Like us in Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block btn-social btn-lg btn-twitter">
                            <i class="fa fa-twitter"></i> Follow us in Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block btn-social btn-lg btn-google">
                            <i class="fa fa-google-plus"></i> Share in Google
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

