@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="PageBody" style="display:none">

    <div class="sidebar-left" id="sideNavigation">
        <div class="sidebar-heading">
            <h2>Question Paper</h2>
            <h3>Computer Science & Engineering <small>(Third Semester)</small></h3>
        </div>
        <div class="u-vmenu">
            <ul data-bind="foreach:subjectArray">
                <li>
                    <a href="#"><span data-bind="text:subjectName"></span></a>
                    <ul data-bind="foreach:qsPaperArray">
                        <li><a href="#" data-bind="attr:{title:qsYear},event:{click:function () {$root.GetQsPaperByHeading(qsHeading)}}" title="Technical English"><span data-bind="text:qsYear"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="ad-placeholder">
            <img src="~/images/ad4.gif" alt="" id="topAdvertisement" />
        </div>
        <div class="question-papers">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs question-paper-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Regular</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Supplementary</a></li>
            </ul>

            <!-- Tab panes -->

            <div class="content-desc" id="pageContent">
                <div class="post_data">
                    <div class="tab-content">
                        <div role="tabpanel" data-bind="html:qsContentRegular" id="home"></div>
                        <div role="tabpanel" data-bind="html:qsContentSupplementary" class="tab-pane" id="profile"></div>
                    </div>
                </div>

                <div class="pagination-nxt-prev">
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="#" data-bind="event:{click:function () {$root.GetQsPaperByHeading(null,subjectId(),pageOrder()-1)}}"><span aria-hidden="true">&larr;</span> Previous Page </a></li>
                            <li class="next"><a href="#" data-bind="event:{click:function () {$root.GetQsPaperByHeading(null,subjectId(),pageOrder()+1)}}">Next Page  <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ad-placeholder">
                    <img src="~/images/ad5.png" alt="" id="bottomAdvertisement1" />
                </div>

            </div>
        </div>
    </div>

    <div class="sidebar-right">
        <div class="ad-placeholder">
            <img src="~/images/ad1.gif" alt="" id="rightAdvertisement1" />
        </div>
        <div class="ad-placeholder" style="margin-top:10px;">
            <img src="~/images/ad3.gif" alt="" id="rightAdvertisement2" />
        </div>
        <div class="ad-placeholder" style="margin-top:10px;">
            <img src="~/images/ad2.gif" alt="" id="rightAdvertisement3" />
        </div>
    </div>

    @section Scripts{
        <!-- Vertical Accordion -->

        <script src="~/Scripts/User/QsPaper/GetQsPaper.js" type="text/javascript"></script>
    }
    <script type="text/javascript" src="~/Scripts/vmenuModule.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".u-vmenu").vmenuModule({
                Speed: 500,
                autostart: true,
                autohide: false
            });
        });
    </script>

</div>
